body{
    font-family: 'Titillium Web', sans-serif;
}

h1{ font-size: 66px; font-weight: 600; line-height: 80px; }
h2{ font-size: 48px; margin-bottom: 30px; }

p{
    font-size: 18px;
    color:black;
    margin-bottom: 0;
    line-height: 1.8;
}

section{
    padding: 120px 0;
}


.btn{
    font-size: 14px;
    padding: 15px 26px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}


.btn-light{
    background-color: white;
    color: black;
    border: 2px solid white;
}

.btn ion-icon {
    font-size: 20px;
    margin-left: 5px;
}

.topmargin-xs{margin-top: 15px;}
.topmargin-sm{margin-top: 30px;}
.topmargin-lg{margin-top: 60px;}

.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
    min-height: 20px;
}

.nav-link{ color: black; }
.nav-link:hover { color: black; }

.logo-brand {
    min-width: 55px;
    max-width: 75px;
}
.navbar-toggler { font-size: 40px; }
.navbar-toggler:focus { outline: none; }

#hero{
    background-image: url('IMAGES/HERO.jpg');
    background-size: cover;
    padding: 90px;
    min-height: 700px;
    color: white;
}

.content-center{
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;

}

#hero p{
    color: white;
}

.bg-dark{
    background-color: black !important ;
}

.progress-bar{
    background-color: rgb(31, 31, 31) !important;
}

#footer{
    padding: 10px;
    text-align: center;
    color: white;
}

#footer a{
    color: white;

}
#footer a:hover{
    color: white;
    
}

#footer .list-inline .list-inline-item{
    padding: 10px 15px;
}


#footer p{
    color: white;
    padding: 15px 26px;
}



@media (max-width: 575.98px) { h1 {font-size: 40px; line-height: normal;} }
/*
@media (max-width: 767.98px) { ... }
@media (max-width: 991.98px) { ... }
@media (max-width: 1199.98px) { ... }
*/

/*ANIMACION*/


